sketch-code/data
sketch-code/bin
pix2code/datasets
*.pyc
inference/node_modules/*
detection/src/clf/training_data/squiggle_pos/*.png
detection/src/clf/training_data/squiggle_neg/*.png
detection/src/clf/training_data/squiggle_yolo/images/*.png
detection/src/clf/training_data/squiggle_yolo/images/*.txt
detection/src/clf/training_data/squiggle_yolo/labels/*.txt
detection/src/clf/training_data/squiggle_pos/
detection/src/clf/training_data/squiggle_neg/
inference/.cache
inference/output/*
web-platform/.uploads/*
web-platform/node_modules/*
web-platform/.generated/*
web-platform/.cache/*
