.modify-acr-toolbar-container {
  border: 1px solid var(--border-blue);
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  position: absolute;
  box-shadow: 0px 0px 3px #E7ECFF;
  bottom: 50px;
  right: 50px;
  background-color: white;
  z-index: 10;
  transition: 0.3s ease-in-out;
}

.modify-acr-toolbar-container:hover {
  box-shadow: 0px 4px 6px #E7ECFF;
  /* transform: translateY(-3px); */
}

.toolbar-section {
  display: flex;
  align-items: center;
}

.toolbar-section > * {
  margin: 5px;
  transition: 0.3s ease-in-out;
  opacity: 0.5;
}

.toolbar-section > *:hover {
  opacity: 1;
}



.vertical-separator {
  height: 43px;
  border: 0.5px solid var(--border-blue);
  margin: 0px 10px 0px 10px;
}
